<mat-card class="create-panel">
    <mat-card-header>
        <mat-card-title>Update User: {{currentUser?.name}}</mat-card-title>
    </mat-card-header>
    <form *ngIf="!isLoading" #userUpdateForm="ngForm" (ngSubmit)="userUpdateForm.valid && updateUserinfo();">
        <mat-card-content>
            <mat-form-field appearance="fill">
                <mat-label>Id</mat-label>
                <input matInput placeholder="Id" type="text" [value]="currentUser?.id" disabled>
            </mat-form-field>
            <br>            
            <mat-form-field appearance="fill">
                <mat-label>Name</mat-label>
                <input matInput placeholder="Name" type="text" [(ngModel)]="currentUser.name" name="name"
                    #name="ngModel" required>
                <mat-error *ngIf="name.errors?.required">Name is required.</mat-error>
            </mat-form-field>            
            <mat-form-field appearance="fill">
                <mat-label>Gender</mat-label>
                <mat-select placeholder="Gender" [(ngModel)]="currentUser.gender" name="gender" #gender="ngModel"
                    required>
                    <mat-option value="">Choose One</mat-option>
                    <mat-option value="Male">Male</mat-option>
                    <mat-option value="Female">Female</mat-option>
                </mat-select>
                <mat-error *ngIf="gender.errors?.required">Name is required.</mat-error>
            </mat-form-field>
            <br>
            <mat-form-field appearance="fill">
                <mat-label>Email Address</mat-label>
                <input matInput placeholder="abc@xyz.com" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" type="email"
                    [(ngModel)]="currentUser.email" name="email" #email="ngModel" required>
                <mat-error *ngIf="email.errors?.required">Email is required.</mat-error>
                <mat-error *ngIf="email.errors?.pattern">Invalid Email</mat-error>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Status</mat-label>
                <mat-select placeholder="Status" [(ngModel)]="currentUser.status" name="status" #status="ngModel"
                    required>
                    <mat-option value="">Choose One</mat-option>
                    <mat-option value="Active">Active</mat-option>
                    <mat-option value="Inactive">Inactive</mat-option>
                </mat-select>
                <mat-error *ngIf="status.errors?.required">Status is required.</mat-error>
            </mat-form-field>
        </mat-card-content>
        <mat-card-actions class="actions">
            <button type="submit" mat-raised-button color="primary">Save</button>
            <button mat-raised-button color="warn" (click)="updateDone(false)">Cancel</button>
        </mat-card-actions>
    </form>
</mat-card>